{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <h1>Panier</h1>

    <div class="col-12">
    
        {% for item in panier %}
            <div class="col-12">
                <h3>{{item.produit.libelle}}</h3>
                {{item.produit.description}}
                <div>Quantité : {{item.quantite}}</div>
            </div>
        {% else %}
            Votre panier est vide
        {% endfor %}
    </div>

{% endblock %}
