{% extends 'base.html.twig' %}


{% block body %}




    <div class="col-12">
        <h1>{{categorie.nom}}</h1>
    </div>

    {% for sc in categorie.sousCategories %}
        <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-3">
            <a href="/produits/{{sc.id}}">
                <div class="card" style="">
                    <img src="{{sc.image}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{sc.nom}}</h5>
                    </div>
                </div>            
            </a>
        </div>
    {% endfor %}


{% endblock %}
